[user]
	name = Max Bogue
	email = max@maxbogue.com
[core]
	excludesfile = ~/.gitignore-global
[alias]
	c = commit
	ca = commit --amend
	caa = commit -a --amend -C HEAD
	
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	
	s = status
	d = diff
	a = add
	co = checkout
	b = branch
	l = log
	f = fetch
	p = push
	cp = cherry-pick
[push]
	default = tracking
[color]
	ui = auto
