*
!.*

.boxprefs
.ssh/*
!.ssh/*.pub
!.ssh/authorized_keys

# Random dotfiles.
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.bash_history
.bash_profile
.dbshell
.histfile
.histfile.VtBaWz
.lesshst
.mysql_history
.viminfo
.zcompdump
.zsh-update
.zsh_history
